@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
}

<!DOCTYPE html>

<h1>@ViewBag.SeriesTitle</h1>
<h2>Issue #@ViewBag.IssueNumber</h2>
<h3>Description:</h3>

    @Html.Raw(ViewBag.Description)


    @if (ViewBag.Artists.Length > 0)
    {
        <h5>Artists:</h5>
    }
    <ul>
        @foreach (var artist in ViewBag.Artists)
        {
            <li>                @artist</li>

        }
    </ul>


